.menuBox {
  @apply
  h-screen
  w-[40vw]
  hidden md:flex
  flex-col place-content-start place-items-start
  dark:text-white
  dark:bg-gray-900
  pr-4
}

.userBanner {
  @apply
  shrink-0
  h-min w-full
  border-r
  border-gray-400
  dark:border-white
  mb-32
  bg-gray-200 dark:bg-gray-800
  flex flex-col
  transition-all duration-700 ease-in-out
}

.userBannerMain {
  @apply
  px-2 pt-2 mb-2
  h-20
  flex place-items-center gap-4
}

.userPicture {
  @apply h-full aspect-square flex place-content-center place-items-center
}

.userUsername {
  @apply text-truncate text-xl
}

.userBannerSecondary {
  @apply px-2 pb-2 shrink-0 h-32 w-full flex
}

.userBannerSecondaryColumn {
  @apply shrink-0 w-1/2 h-full flex flex-col place-content-evenly
}

.userBannerSecondaryColumn > div {
  align-items: flex-end;
  @apply h-full flex text-truncate
}

.userBannerSecondaryColumn:nth-child(2) {
  align-items: flex-end;
  @apply text-right
}

.userBannerSecondaryColumn:nth-child(2) > div {
  @apply text-right place-content-end text-truncate
}


.userBannerLabel {
  @apply
  font-light border-b
  border-gray-400
  dark:border-white
  w-[90%] text-truncate
}

.dropdownIcon {
  @apply
  rotate-0
  flex place-content-center place-items-center
  transition-transform duration-300 ease-in-out
}

.dropdownIconActive {
  @apply rotate-180
}

.userBannerExtension {
  @apply
  h-0
  border-t dark:border-t-gray-900
  flex place-content-between place-items-center
  transition-all duration-150 ease-in-out

  overflow-hidden
}

.userBannerExtension > button {
  @apply
  w-full h-full
  flex place-items-center justify-start gap-2
  pl-2
  hover:dark:bg-gray-700
  hover:bg-gray-300
}

.userBannerExtension > button > div {
  @apply w-full text-left text-truncate
}

.userBannerExtension > button:nth-child(2) {
  @apply
  pl-0 pr-2 justify-end
}

.userBannerExtension > button > div:nth-child(1) {
  @apply text-right
}

.userBanner:hover .userBannerExtension {
  @apply userBannerExtended
}

.userBannerExtended {
  @apply h-10  dark:border-t-white
}

.usersChoice {
  @apply h-min w-full flex-col
}

.choicesUser {
  @apply
  h-12  px-2
  flex place-content-between place-items-center
}

.choicesUserPicture {
  @apply h-full flex place-items-center shrink-0
}

.choicesUserUsername {
  @apply grow pl-2
}

.choicesUserRemove {
  @apply shrink-0  flex place-items-center p-2
  hover:dark:bg-gray-700
  cursor-pointer
}


.menu {
  @apply
  border-t
  border-gray-400
  dark:border-white
  h-full w-full
  flex flex-col
  overflow-y-scroll
  mb-4
}

.menuChoice {
  @apply
  h-12
  shrink-0
  flex place-items-center gap-4
  pl-3
  dark:hover:bg-gray-800
  hover:bg-gray-200
  cursor-pointer
}


.menuChoiceActive {
  @apply
  dark:bg-gray-800
  bg-gray-200
}
