.accessBox {
  @apply
  flex place-content-center place-items-center w-screen overflow-hidden min-h-screen
  flex-col md:flex-row md:place-items-start md:overflow-hidden
  bg-white dark:bg-gray-900
  relative
}

.leftPage {
  @apply
  relative
  transition-all duration-1000 ease-in-out
  md:left-1/2
}

.leftPageHidden {
  @apply md:-left-1/2
}

.rightPage {
  @apply
  relative
  transition-all duration-1000 ease-in-out
  md:right-1/2
}

.rightPageHidden {
  @apply md:-right-1/2
}

.toggle {
  @apply
  absolute
  top-12
  w-screen flex place-content-center
}

.toggle > div {
  @apply
  relative
  md:left-[37%]
  z-10
  border-b
  text-black
  block uppercase tracking-wide
  text-sm font-bold
  text-gray-700
  border-gray-700
  dark:text-gray-200
  dark:border-gray-200
  cursor-pointer
  transition-[left] duration-1000 ease-in-out
  invisible
  md:visible
}


.toggled > div {
  @apply
  md:-left-[40%]
}
