.listBox {
  @apply
  h-screen
  w-[90vw]
  md:w-[40vw]
  relative
    /*overflow-y-scroll*/
  dark:bg-gray-900
}

.searchBarBox {
  @apply
  z-40
  absolute
  w-full h-14
  bg-white
  dark:bg-gray-900
  transition-height duration-500 ease-in-out
}

.searchBarBoxActive {
  @apply h-full mt-0
}

.menuButton {
  @apply
  absolute left-4 top-2
}

.searchBar {
  @apply
  absolute right-4 top-2
  z-50
  border
  border-gray-400
  dark:border-white
  w-[calc(100%_-_2rem)]
  md:w-[calc(100%_-_5rem)]
  h-10 ml-2
  flex place-items-center place-content-between gap-4
  pr-2
  text-sm capitalize font-light
  text-gray-800
  dark:text-gray-200
  dark:bg-gray-900
  hover:bg-gray-300
  hover:dark:bg-gray-800
  cursor-pointer
  transition-all duration-500 ease-in-out
}

.searchBarActive {
  @apply
  w-[calc(100%_-_5rem)]
  hover:bg-white
  hover:dark:bg-gray-900
  cursor-auto
}

.searchBarText {
  cursor: inherit;
  @apply
  w-full h-full
  pl-2
  flex place-items-center
  bg-transparent
  focus:outline-none
}

.list {
  @apply
    /*border-x*/
    /*border-gray-400*/
    /*dark:border-white*/
  w-full
  h-[calc(100vh_-_9.5rem)]
  md:h-[calc(100vh_-_6rem)]
  flex flex-col place-items-center
  overflow-y-scroll
  mt-20
  px-4
  select-none
}


.dropdownHeader {
  @apply
  border
  border-gray-400
  dark:border-white
  w-full h-10
  shrink-0
  flex place-items-center place-content-between
  px-4
  font-light capitalize
  select-none
  cursor-pointer
  bg-gray-200
  hover:bg-gray-300
  dark:bg-gray-800
  hover:dark:bg-gray-700
  dark:text-white
}

.dropdownIcon {
  @apply
  rotate-0
  flex place-content-center place-items-center
  transition-transform duration-300 ease-in-out
}

.dropdownIconActive {
  @apply rotate-180
}

.dropdownCollapse {
  @apply
  w-full min-h-min
  flex flex-col place-items-center
  h-0
}

.dropdownExpanse {
  @apply h-min
}

.listItem {
  @apply
  border-x
  border-gray-400
  dark:border-white
  w-full h-24 cursor-pointer z-10 shrink-0
}

.placeholder {
  @apply
  dark:text-white
  h-[calc(100vh_-_5rem)]
  flex place-items-center place-content-center
}

.bottomBar {
  @apply
  border-t
  border-gray-400
  dark:border-white
  h-14  w-[90vw]
  fixed bottom-0 left-0
  bg-white
  dark:bg-gray-900
  dark:text-white
  md:hidden
  transition-[left] duration-[750ms] ease-in-out
  flex place-content-around place-items-center
  z-20
}

.bottomBarHidden {
  @apply -left-[90%]
}

.bottomBarItem {
  @apply h-full flex place-items-center gap-2
}
