.themeButton {
  @apply
  transition-all duration-200 ease-in-out
  hover:text-white hover:bg-black
  dark:hover:text-black dark:hover:bg-white
  focus:outline-none rounded-md text-sm p-2.5;
}

.icon {
  @apply
  w-5 h-5
}
